node_modules/
npm-debug.log*

.DS_Store
Thumbs.db

web/public/myclass.apk
web/public/courseware/*.pdf
web/public/courseware/*.pptx
web/public/courseware/*.docx
web/public/courseware/index.json

android/AndroidStudioProject/.gradle/
android/AndroidStudioProject/local.properties
android/AndroidStudioProject/app/build/
android/AndroidStudioProject/build/
android/AndroidStudioProject/.idea/
android/AndroidStudioProject/*.iml
server/data/
web/vendor/
